.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Toaster message color code */
.toast-success {
  background-color: #51A351 !important;
}

.toast-error {
  background-color: #BD362F !important;
}

.toast-warning {
  background-color: #F89406 !important;
}

.toast-info {
  background-color: #2F96B4 !important;
}

.customTooltip{
  color: black;
  font-size: 12px;
  max-width: 276px;
  text-align: left;
  min-width: 200px;
  border-radius: 10px;
}

.tooltip-inner {
  background-color: #ffc412 !important;
}

#button-tooltip {
  border-radius: 10px;
  color: black;
  font-size: 12px;
  max-width: 276px;
}

.tooltipHeader {
  font-size: 1rem;
  font-weight: normal;
}

.tooltipBody {
  color: #212529;
}

/* .arrow::before{
  border-right-color: #ffc412 !important;
} */

.bs-tooltip-right .arrow::before{
  border-right-color: #ffc412 !important;
}

.bs-tooltip-left .arrow::before{
  border-left-color: #ffc412 !important;
}

.bs-tooltip-top .arrow::before{
  border-top-color: #ffc412 !important;
}

.bs-tooltip-bottom .arrow::before{
  border-bottom-color: #ffc412 !important;
}